<div class="page">
	<div class="page_content">

		<div class="title">Практика CSS</div>

		<a href="/template-1" class="button">Template-1</a>
		<a href="/template-2" class="button">Template-2</a>
		<a href="/template-3" class="button">Template-3</a>
		<a href="/template-4" class="button">Template-4</a>
		<a href="/template-5" class="button">Template-5</a>
		<a href="/template-6" class="button">Template-6</a>
		<a href="/template-7" class="button">Template-7</a>

	</div>
</div>